<?xml version='1.0' encoding='utf-8'?>
<widget id="net.h0v3.interval" versioncode="100" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>interval</name>
    <description>
        An interval timer. It counts backwards from 30 seconds over and over and over and ....
    </description>
    <author email="glucnac@gmail.com" href="http://h0v3.net">
        Dan McNair
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait"/>
</widget>
